mixin video(video)
    div.video_card
        div(class="video_card_thumbnail" style=`background-image:url(${ "/" + video.thumbnailUrl });`)
        div.video_card_title
            a(href=`/videos/${video.id}`)
                span=video.title
        p=video.description
        each hashtag in video.hashtags
            span #{hashtag} &nbsp;
        div.video_card_date
            span=video.createdAt