mixin video(video)
    div.video_card
        a(href=`/videos/${video.id}`)
            div(class="video_card_thumbnail" style=`background-image:url(${ "/" + video.thumbnailUrl });`)
        div.video_card_title
                span=video.title
        div.video_card_metaData
            a(href=`/users/${video.owner._id}`)
                span by #{video.owner.username}
            if video.meta.views === 1
                span #{video.meta.views} view
            else
                span #{video.meta.views} views
            span=video.createdAt.toDateString()