mixin video(video)
    div.video_card
        a(href=`/videos/${video.id}`)
            img(class="video_card_thumbnail" src=`${video.thumbnailUrl}` crossorigin)
        div.video_card_title
                span=video.title
        div.video_card_metaData
            a(href=`/users/${video.owner._id}`)
                img(class="user_avatar_sm" src=`${video.owner.avatar}` crossorigin)   
                div 
                    span &nbsp;#{video.owner.username}
            if video.meta.views === 1
                span #{video.meta.views} view
            else
                span #{video.meta.views} views
            span=video.createdAt.toDateString()