extends base

block content

    div.profile_wrapper
        div.profile_container
            h1 Profile
            hr
            div(class="profile_info")
                div(class="profile_avatar" style=`background-image:url(${loggedInUser.avatar});`)
                ul
                    li Nickname: #{user.username}
                    li Name: #{user.name}
                    li E-mail: #{user.email}
            hr

            div#profile_message #{user.bio}
        
        div#profile_modify
            a(href=`/users/${loggedInUser._id}/edit`)
                div 
                    i(class="fas fa-pencil-alt")    
                    span Update Profile
            
            a(href="")
                div 
                    i(class="fas fa-key")     
                    span Change Password
                