extends base.pug

block content
    div#watch_wrapper
        div#watch_container
            h1=video.title
            hr
            div#videoPlayer(data-id=video._id)
                video(src=video.videoUrl, crossorigin)
                div#videoController
                    button#play
                        i(class="fas fa-play")
                    div
                        span#currenTime 00:00:00
                        span  / 
                        span#totalTime 
                    div#timeContainer
                        input(type="range",step="1", value="0", min="0")#timeline
                    div#volumeContainer
                        button#mute
                            i(class="fas fa-volume-mute")
                        input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                    div
                        button#fullScreen 
                            i(class="fas fa-expand")
            div#info
                span=video.description
                span=video.hashtags
                span=video.owner.username
                span=video.createdAt
            if String(video.owner._id) === String(loggedInUser._id)
                div
                    a(href=`${video.id}/edit`) 
                        button Edit Video&nbsp;&nbsp;
                            <i class="fas fa-edit"></i>
                    br  
                    a(href=`${video.id}/delete`) 
                        button Delete Video &nbsp;&nbsp;
                            <i class="fas fa-trash-alt"></i>
        
        div#commentSection
            h1
                span Comment  
                i(class="fas fa-comment-dots")
            if loggedIn
                form#commentForm
                    textarea(cols="60", rows="10", placeholder="Write a comment.")
                    button Add Comment
        div#commentContainer
            ul
                each comment in video.comments.reverse()
                    li(id=`${comment._id}`)
                        div.comment_writer
                            span=comment.username
                        div.comment_text
                            div    
                                span #{comment.text}
                            if String(comment.writer._id) === String(loggedInUser._id)
                                div.comment_delete
                                    i(class="fas fa-times-circle", data-id=comment._id)

block scripts
    script(src="/assets/js/videoPlayer.js")
    script(src="/assets/js/commentSection.js")